{% extends 'base.html' %}
{% load static %}
{% load static i18n %}
{% load common_tags %}

{% block content %}

<section class="page-section spad">
    <div class="container">
        <div class="row">

            <div class="col-md-8 single-post">
                <figure class="post-thumb">
                    <img src="{{post.photo.file.url}}" alt>
                </figure>
                <div class="post-content">
                    <div class="date">{% translate "On "%}{{ post.created_at|date:"l, j M Y" }}</div>
                    <h2 class="post-title">{{ event.title }}</h2>
                    <div class="post-metas">
                        <div class="post-meta">{% translate "by "%}<a href="single-blog.html#">{{ post.author}}</a></div>
                        <div class="post-meta">{% translate "Categories "%}<a href="{{post.category.get_absolute_url}}">{{post.category.title}}</a></div>
                    </div>
                    {{post.content}}
                </div>
<!--                <div class="row">
                    <div class="col-sm-7">
                        <div class="post-tags">
                            <a href="single-blog.html#">Hope & Faithful</a>
                            <a href="single-blog.html#">color Story</a>
                            <a href="single-blog.html#">Sermon & Pray</a>
                        </div>
                    </div>
&lt;!&ndash;                    <div class="col-sm-5">
                        <div class="social-share">
                            <p>Share</p>
                            <a "https://preview.colorlib.com/theme/libchurch/href"><i class="fa-brands fa-facebook"></i></a>
                            <a "https://preview.colorlib.com/theme/libchurch/href"><i class="fa-brands fa-twitter"></i></a>
                            <a "https://preview.colorlib.com/theme/libchurch/href"><i class="fa-brands fa-google-plus"></i></a>
                            <a "https://preview.colorlib.com/theme/libchurch/href"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>&ndash;&gt;
                </div>-->
<!--                <div class="post-nav">-->
<!--                    <a "https://preview.colorlib.com/theme/libchurch/href" class="prev-post"><i-->
<!--                        class="fa fa-angle-double-left"></i> Previous Post</a>-->
<!--                    <a "https://preview.colorlib.com/theme/libchurch/href" class="next-post">Next Post <i-->
<!--                        class="fa fa-angle-double-right"></i></a>-->
<!--                </div>-->

            </div>

            <div class="col-md-4 col-sm-6 sidebar">
                {% show_sidebar %}
            </div>
        </div>
    </div>
</section>

{% endblock %}